<a href="https://colab.research.google.com/github/zzhining/ml_basic/blob/main/pandas/window.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/zzhining/python_data_basic/main/3%EC%9E%A5/005930.KS.csv', index_col = 0)
df.tail()

             Open   High    Low  Close  Adj Close    Volume
Date
2021-06-14  80800  80900  80500  80500    80500.0  10550078
2021-06-15  80900  81200  80600  80900    80900.0  10075685
2021-06-16  81500  81900  81100  81800    81800.0  14999855
2021-06-17  81100  81300  80700  80900    80900.0  14007385
2021-06-18  81100  81100  80500  80500    80500.0  14916721

각 컬럼의 의미는 다음과 같습니다.
* Open: 시초가
* High: 고가
* Low: 저가
* Close: 종가
* Adj Close: 수정종가(분할, 배당, 배분, 신주 발생이 된 경우를 고려해 주식 가격을 조정한 가격)
* Volume: 거래량

데이터 분석 시, 데이터의 연속성을 위해서 `종가`보다 `수정 종가`를 사용하는 것이 일반적입니다. 본 실습에서도 `종가`를 분석해야할 경우, `Close` 컬럼 대신 `Adj Close` 컬럼을 사용하겠습니다.

# Window

In [4]:
df1 = df.copy().drop(['Open', 'High', 'Low', 'Adj Close', 'Volume'], axis = 1)
df1.head()

            Close
Date
2020-01-02  55200
2020-01-03  55500
2020-01-06  55500
2020-01-07  55800
2020-01-08  56800

In [5]:
df1['Close_1'] = df1['Close'].shift(1)
df1.head()

            Close  Close_1
Date
2020-01-02  55200      NaN
2020-01-03  55500  55200.0
2020-01-06  55500  55500.0
2020-01-07  55800  55500.0
2020-01-08  56800  55800.0

In [7]:
df1['Close'].rolling(5).mean()

Date
2020-01-02        NaN
2020-01-03        NaN
2020-01-06        NaN
2020-01-07        NaN
2020-01-08    55760.0
               ...
2021-06-14    81100.0
2021-06-15    80900.0
2021-06-16    81040.0
2021-06-17    81020.0
2021-06-18    80920.0
Name: Close, Length: 363, dtype: float64

In [8]:
df1['Close'].rolling(5, center = True).mean()

Date
2020-01-02        NaN
2020-01-03        NaN
2020-01-06    55760.0
2020-01-07    56440.0
2020-01-08    57240.0
               ...
2021-06-14    81040.0
2021-06-15    81020.0
2021-06-16    80920.0
2021-06-17        NaN
2021-06-18        NaN
Name: Close, Length: 363, dtype: float64

# 데이터 탐색

<div class="alert alert-success">
[문제1]  
    
    
데이터프레임(df)의 평균, 표준편차, 사분위수 등 주요 통계 지표를 확인하세요.
</div>

<div class="alert alert-success">
[문제2]  
    
    
종가('Close') 기준 최대값을 구하세요.
</div>

<div class="alert alert-success">
[문제3]  
    
    
종가('Close') 기준 최소값을 구하세요.
</div>

<div class="alert alert-success">
[문제4]  
    
    
종가('Close') 기준 평균값을 구하세요.
</div>

<div class="alert alert-success">
[문제5]  
    
    
총 데이터의 (row의 개수)를 확인하세요.
</div>

(312, 6)

<div class="alert alert-success">
[문제6]  

    
특정 컬럼만 선택하세요.(예: ‘Close’ 컬럼만 선택, ‘High’와 ‘Low’ 두 개의 컬럼 선택)
</div>

               High      Low
Date
2022-01-04  79200.0  78300.0
2022-01-05  79000.0  76400.0
2022-01-06  77600.0  76600.0
2022-01-07  78400.0  77400.0
2022-01-10  78100.0  77100.0
...             ...      ...
2023-04-04  63800.0  62800.0
2023-04-05  64000.0  63400.0
2023-04-06  63600.0  62300.0
2023-04-07  65200.0  63800.0
2023-04-10  66300.0  64700.0

[312 rows x 2 columns]

<div class="alert alert-success">
[문제7]  

    
상위 3개의 로우만 선택하세요.
</div>

               Open     High      Low    Close     Adj Close    Volume
Date
2022-01-04  78800.0  79200.0  78300.0  78700.0  76808.164062  12427416
2022-01-05  78800.0  79000.0  76400.0  77400.0  75539.414062  25470640
2022-01-06  76700.0  77600.0  76600.0  76900.0  75051.437500  12931954

<div class="alert alert-success">
[문제8]  

시작가('Open') 대비 종가('Close')가 높았던 날의 데이터만 선택하세요.
</div>

               Open     High      Low    Close     Adj Close    Volume
Date
2022-01-06  76700.0  77600.0  76600.0  76900.0  75051.437500  12931954
2022-01-07  78100.0  78400.0  77400.0  78300.0  76417.789062  15163757
2022-01-11  78400.0  79000.0  78000.0  78900.0  77003.367188  13221123
2022-01-20  76200.0  76700.0  75900.0  76500.0  74661.054688   9708168
2022-01-28  71300.0  73700.0  71200.0  73300.0  71537.976562  21367447
...             ...      ...      ...      ...           ...       ...
2023-03-29  62500.0  62700.0  62200.0  62700.0  62700.000000  11216008
2023-04-04  63400.0  63800.0  62800.0  63600.0  63600.000000  11120514
2023-04-05  63700.0  64000.0  63400.0  63900.0  63900.000000   9176149
2023-04-07  63800.0  65200.0  63800.0  65000.0  65000.000000  27476120
2023-04-10  64800.0  66300.0  64700.0  65700.0  65700.000000  18777166

[123 rows x 6 columns]

<div class="alert alert-success">
[문제9]  

종가('Close') 기준 가장 주가가 높았던 날의 데이터(로우)를 선택하세요.
</div>

               Open     High      Low    Close     Adj Close    Volume
Date
2022-01-11  78400.0  79000.0  78000.0  78900.0  77003.367188  13221123
2022-01-12  79500.0  79600.0  78600.0  78900.0  77003.367188  11000502

<div class="alert alert-success">
[문제 10]  

 종가('Close') 기준 주가가 60,000원 이상이었던 날짜를 반환하세요.
</div>

DatetimeIndex(['2022-01-04', '2022-01-05', '2022-01-06', '2022-01-07',
               '2022-01-10', '2022-01-11', '2022-01-12', '2022-01-13',
               '2022-01-14', '2022-01-17', '2022-01-18', '2022-01-19',
               '2022-01-20', '2022-01-21', '2022-01-24', '2022-01-25',
               '2022-01-26', '2022-01-27', '2022-01-28', '2022-02-03',
               '2022-02-04', '2022-02-07', '2022-02-08', '2022-02-09',
               '2022-02-10', '2022-02-11', '2022-02-14', '2022-02-15',
               '2022-02-16', '2022-02-17', '2022-02-18', '2022-02-21',
               '2022-02-22', '2022-02-23', '2022-02-24', '2022-02-25',
               '2022-02-28', '2022-03-02', '2022-03-03', '2022-03-04',
               '2022-03-07', '2022-03-11', '2022-03-14', '2022-03-15',
               '2022-03-16', '2022-03-17', '2022-03-18', '2022-03-22',
               '2022-03-23', '2022-03-29'],
              dtype='datetime64[ns]', name='Date', freq=None)

<div class="alert alert-success">
[문제 11]  

2022년 3월 15일의 데이터를 반환하세요.
</div>

Open         70200.000000
High         70200.000000
Low          70200.000000
Close        70200.000000
Adj Close    68512.507812
Volume           0.000000
Name: 2022-03-15 00:00:00, dtype: float64

<div class="alert alert-success">
[문제 12]  

2022년 6월 28일의 고가('High')와 저가('Low')값을 반환하세요.
</div>

High    59500.0
Low     58700.0
Name: 2022-06-28 00:00:00, dtype: float64

<div class="alert alert-success">
[문제 13]  

데이터프레임(df)의 100번째 데이터를 선택하세요.
</div>

Open         6.660000e+04
High         6.700000e+04
Low          6.640000e+04
Close        6.670000e+04
Adj Close    6.543311e+04
Volume       1.495944e+07
Name: 2022-06-02 00:00:00, dtype: float64

<div class="alert alert-success">
[문제 14]  
    
데이터를 날짜 역순으로(최신 데이터가 위에 위치하도록) 정렬하세요.
</div>

               Open     High      Low    Close     Adj Close    Volume
Date
2023-04-10  64800.0  66300.0  64700.0  65700.0  65700.000000  18777166
2023-04-07  63800.0  65200.0  63800.0  65000.0  65000.000000  27476120
2023-04-06  63500.0  63600.0  62300.0  62300.0  62300.000000  14992747
2023-04-05  63700.0  64000.0  63400.0  63900.0  63900.000000   9176149
2023-04-04  63400.0  63800.0  62800.0  63600.0  63600.000000  11120514
...             ...      ...      ...      ...           ...       ...
2022-01-10  78100.0  78100.0  77100.0  78000.0  76125.000000   9947422
2022-01-07  78100.0  78400.0  77400.0  78300.0  76417.789062  15163757
2022-01-06  76700.0  77600.0  76600.0  76900.0  75051.437500  12931954
2022-01-05  78800.0  79000.0  76400.0  77400.0  75539.414062  25470640
2022-01-04  78800.0  79200.0  78300.0  78700.0  76808.164062  12427416

[312 rows x 6 columns]

<div class="alert alert-success">
[문제 15]  

종가(‘Close’) 데이터를 가격이 높은 순서대로 정렬하세요.
</div>

               Open     High      Low    Close     Adj Close    Volume
Date
2022-01-11  78400.0  79000.0  78000.0  78900.0  77003.367188  13221123
2022-01-12  79500.0  79600.0  78600.0  78900.0  77003.367188  11000502
2022-01-04  78800.0  79200.0  78300.0  78700.0  76808.164062  12427416
2022-01-07  78100.0  78400.0  77400.0  78300.0  76417.789062  15163757
2022-01-10  78100.0  78100.0  77100.0  78000.0  76125.000000   9947422
...             ...      ...      ...      ...           ...       ...
2022-09-27  53800.0  54200.0  53500.0  54200.0  53495.656250  16631289
2022-09-26  53700.0  54200.0  53600.0  53900.0  53199.558594  15008449
2022-09-30  52300.0  53600.0  51800.0  53100.0  52770.066406  22503249
2022-09-28  53900.0  54400.0  52500.0  52900.0  52212.550781  19991129
2022-09-29  53300.0  53700.0  52600.0  52600.0  52273.171875  13882080

[312 rows x 6 columns]

<div class="alert alert-success">
[문제 16]  

인덱스 컬럼을 0부터 순차적으로 증가하는 정수로 변경하세요.
</div>

<div class="alert alert-success">
[문제 17]  

컬럼명을 Date는 ‘날짜’로, ‘High’는 ‘고가’로, ‘Low’는 ‘저가’로 변경하세요.
</div>

            날짜     Open       고가       저가    Close     Adj Close    Volume
0   2022-01-04  78800.0  79200.0  78300.0  78700.0  76808.164062  12427416
1   2022-01-05  78800.0  79000.0  76400.0  77400.0  75539.414062  25470640
2   2022-01-06  76700.0  77600.0  76600.0  76900.0  75051.437500  12931954
3   2022-01-07  78100.0  78400.0  77400.0  78300.0  76417.789062  15163757
4   2022-01-10  78100.0  78100.0  77100.0  78000.0  76125.000000   9947422
..         ...      ...      ...      ...      ...           ...       ...
307 2023-04-04  63400.0  63800.0  62800.0  63600.0  63600.000000  11120514
308 2023-04-05  63700.0  64000.0  63400.0  63900.0  63900.000000   9176149
309 2023-04-06  63500.0  63600.0  62300.0  62300.0  62300.000000  14992747
310 2023-04-07  63800.0  65200.0  63800.0  65000.0  65000.000000  27476120
311 2023-04-10  64800.0  66300.0  64700.0  65700.0  65700.000000  18777166

[312 rows x 7 columns]

<div class="alert alert-success">
[문제 18]  

날짜(‘Date’) 컬럼을 삭제하세요.
</div>

        Open     High      Low    Close     Adj Close    Volume
0    78800.0  79200.0  78300.0  78700.0  76808.164062  12427416
1    78800.0  79000.0  76400.0  77400.0  75539.414062  25470640
2    76700.0  77600.0  76600.0  76900.0  75051.437500  12931954
3    78100.0  78400.0  77400.0  78300.0  76417.789062  15163757
4    78100.0  78100.0  77100.0  78000.0  76125.000000   9947422
..       ...      ...      ...      ...           ...       ...
307  63400.0  63800.0  62800.0  63600.0  63600.000000  11120514
308  63700.0  64000.0  63400.0  63900.0  63900.000000   9176149
309  63500.0  63600.0  62300.0  62300.0  62300.000000  14992747
310  63800.0  65200.0  63800.0  65000.0  65000.000000  27476120
311  64800.0  66300.0  64700.0  65700.0  65700.000000  18777166

[312 rows x 6 columns]

<div class="alert alert-success">
[문제 19]  

 'diff’ 컬럼을 생성하고, 종가(‘Close’)와 시가(‘Open’)의 차이를 계산하여 채워주세요
</div>

,Date,Open,High,Low,Close,Adj Close,Volume,diff
0,2022-01-04,78800.0,79200.0,78300.0,78700.0,76808.164062,12427416,-100.0
1,2022-01-05,78800.0,79000.0,76400.0,77400.0,75539.414062,25470640,-1400.0
2,2022-01-06,76700.0,77600.0,76600.0,76900.0,75051.437500,12931954,200.0
3,2022-01-07,78100.0,78400.0,77400.0,78300.0,76417.789062,15163757,200.0
4,2022-01-10,78100.0,78100.0,77100.0,78000.0,76125.000000,9947422,-100.0

<div class="alert alert-success">
[문제 20]  

 ‘Date’ 필드에 저장된 값을 파싱하여 ‘Year’, ‘Month’, ‘Day’ 필드에 저장하세요
</div>

,Date,Open,High,Low,Close,Adj Close,Volume,diff,Year,Month,Day
0,2022-01-04,78800.0,79200.0,78300.0,78700.0,76808.164062,12427416,-100.0,2022,1,4
1,2022-01-05,78800.0,79000.0,76400.0,77400.0,75539.414062,25470640,-1400.0,2022,1,5
2,2022-01-06,76700.0,77600.0,76600.0,76900.0,75051.437500,12931954,200.0,2022,1,6

<div class="alert alert-success">
[문제 21]  

수정된 종가('Adj Close') 데이터를 소수점 둘째자리까지 표시하세요
</div>

,Date,Open,High,Low,Close,Adj Close,Volume,diff,Year,Month,Day
0,2022-01-04,78800.0,79200.0,78300.0,78700.0,76808.16,12427416,-100.0,2022,1,4
1,2022-01-05,78800.0,79000.0,76400.0,77400.0,75539.41,25470640,-1400.0,2022,1,5
2,2022-01-06,76700.0,77600.0,76600.0,76900.0,75051.44,12931954,200.0,2022,1,6

<div class="alert alert-success">
[문제 22]  

거래량 필드를 생성하고 , 가 들어가도록 변경하기(예: 16949183.0 -> 16,949,183)
</div>

,Date,Open,High,Low,Close,Adj Close,Volume,diff,Year,Month,Day,거래량
0,2022-01-04,78800.0,79200.0,78300.0,78700.0,76808.16,12427416,-100.0,2022,1,4,"12,427,416"
1,2022-01-05,78800.0,79000.0,76400.0,77400.0,75539.41,25470640,-1400.0,2022,1,5,"25,470,640"
2,2022-01-06,76700.0,77600.0,76600.0,76900.0,75051.44,12931954,200.0,2022,1,6,"12,931,954"

<div class="alert alert-success">
[문제 23]  

주가 데이터를 월(‘Month’)별로 그룹핑하고, 거래량(‘Volume’)의 평균값을 표시하세요.
</div>

Month
1     1.177404e+07
2     4.928311e+06
3     1.206054e+07
4     1.494061e+07
5     1.491353e+07
6     2.142366e+07
7     1.437271e+07
8     1.144006e+07
9     1.443077e+07
10    1.718619e+07
11    1.321282e+07
12    1.116872e+07
Name: Volume, dtype: float64

<div class="alert alert-success">
[문제 24]  

결측치가 있는지 확인하고, 결측치가 있을 경우 결측치를 처리하세요.
</div>

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
diff         0
Year         0
Month        0
Day          0
거래량          0
dtype: int64

<div class="alert alert-success">
[문제 25]  

3월의 데이터와 4월의 데이터를 별도의 데이터프레임(march_df, april_df)으로 만들고 두 데
이터프레임을 하나의 데이터프레임으로 이어 붙이세요
</div>